body {
    margin: 0;
}

.root {
    display: grid;
    grid-template-rows: repeat(6, 18%);
    grid-template-columns: repeat(5, 20.3%);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.sidebar {
    background-color: cornflowerblue;
    color: white;

    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    gap: 25px;
}


.dashboard-logo {
    font-size: 1.8rem;
    font-weight: 700;
}

.dashboard-logo > div {
    margin-left: 10px;
}

.nav-links,
.settings\+manuals {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 1.8rem;
    margin-right: 25px;
    margin-left: 15px;
}

.dash-logo {
    width: 3.5rem;
}


.sidebar > div {
    padding: 20px;
}

.dashboard-logo {
    display: flex;
    align-items: center; /* Align items vertically */
}


.header {
    padding-top: 15px;
    display: grid;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 6;

    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
}

.navigation {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.search-bar {
    background-color: #e2e8f0;
    border-radius: 23px;
    width: 90%;
    height: 50%;
}

.profile\+notification {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.profile\+notification > .profile-picture {
    width: 3.2rem;
    height: 3.2rem;
}

.profile-page-name {
    font-size: 1.3rem;
    margin: 0 45px 0 25px;
    font-weight: 600;
}


.profile {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 18% 75%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    object-fit: cover;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
}

.greetings {
    justify-self: left;
    display: flex;
    flex-direction: column;
    padding-left: -10px;
    font-size: 1rem;
}

p,
h1 {
    margin: 0;
}

.add-project {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
}

.add-project > div > button {
    padding: 12px 30px 12px;
    border-radius: 25px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.new-project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container {
    background-color: grey;
    display: grid;

    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 6;

    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: repeat(4, 25%);
}

.your-projects {
    background-color: green;

    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;

    grid-template-columns: 50% 50%;
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
}

.project {
    background-color: white;
    margin: 20px;
}

.announce\+trends {
    background-color: orange;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}


